body{
	
	margin:auto;
	padding-top: 40px;
	border: 2px solid black;
	text-align: center;
	background-image: url('../A-Million-Dollars-Background.jpg')

}

h1{
padding-bottom: 20px;

}


.account{
	display: inline-block;
	
	padding-left: 100px;
	padding-right: 100px;
	margin: 20px;
	background-color: white;
	opacity: .9;
	z-index: 999;
	-webkit-border-radius: 5px;
           -moz-border-radius: 5px;
                border-radius: 5px;
        -webkit-box-shadow: 12px  20px 0 rgba(0,0,0,.1);
           -moz-box-shadow: 12px  20px 0 rgba(0,0,0,.1);
                box-shadow: 12px  20px 0 rgba(0,0,0,.1);
}


.container{
  background: rgba(255, 255, 255, 0.7);
	padding: 20px;
	margin:auto;

	padding-bottom: 200px;
	-webkit-border-radius: 5px;
           -moz-border-radius: 5px;
                border-radius: 5px;
        -webkit-box-shadow: 12px  20px 0 rgba(0,0,0,.1);
           -moz-box-shadow: 12px  20px 0 rgba(0,0,0,.1);
                box-shadow: 12px  20px 0 rgba(0,0,0,.1);
}

#warning{

	color: red;
	display: none;
	padding: 20px;

}

#warning p {
font-size: 18px;

}